<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'plot/styles.css' %}">
    <link rel="icon" href="{% static 'plot/images/fudan.png' %}" />
    <script src="{% static 'plot/figure.js' %}"></script>
    <title>Arcseqhub - About</title>
  </head>

  <body style="overflow: scroll;">
    <header class="astro-3EF6KSR2">
        <nav class="astro-3EF6KSR2">
            <ul class="menu astro-3EF6KSR2">
                <li class="logo astro-3EF6KSR2"><a href="{% url 'plot:index'%}" target="_self" style="padding:0" class="astro-3EF6KSR2"><img src="{% static 'plot/images/fudan.png' %}" alt="Logo" style="height: 60px; width: auto; float:left" class="astro-3EF6KSR2"></a></li>
                <li class="item has-submenu astro-3EF6KSR2"><a href="{% url 'plot:index'%}" class="astro-3EF6KSR2">About</a>
                <li class="item has-submenu astro-3EF6KSR2" id="about"><a target="_self" href="{% url 'plot:lab'%}" class="astro-3EF6KSR2">Team</a>
                    <!-- <ul class="submenu astro-3EF6KSR2"> -->
                        <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="lab.html" class="astro-3EF6KSR2">Lab</a></li> -->
                        <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="/overview/" class="astro-3EF6KSR2">Funding</a></li> -->
                        <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="/advisory/" class="astro-3EF6KSR2">Advisory</a></li> -->
                        <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="team_.html" class="astro-3EF6KSR2">Team</a></li> -->
                        <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="/ga4gh/" class="astro-3EF6KSR2">GA4GH</a></li> -->
                    <!-- </ul> -->
                </li>
                <!-- <li class="item astro-3EF6KSR2"><a target="_self" href="/news/" class="astro-3EF6KSR2">News</a></li> -->
                <!-- <li class="item has-submenu astro-3EF6KSR2" id="about"><a target="_self" href="#" class="astro-3EF6KSR2">About</a> -->
                <li class="item has-submenu astro-3EF6KSR2"><a href="#" class="astro-3EF6KSR2">Data</a>
                  <ul class="submenu astro-3EF6KSR2">
                        <li class="subitem astro-3EF6KSR2"><a target="_self" href="#" class="astro-3EF6KSR2">Github</a></li>
                        <li class="subitem astro-3EF6KSR2"><a target="_self" href="https://hgdownload.soe.ucsc.edu/downloads.html" class="astro-3EF6KSR2">UCSC</a></li>
                        <li class="subitem astro-3EF6KSR2"><a target="_self" href="https://www.internationalgenome.org/data" class="astro-3EF6KSR2">1K Genome</a></li>
                    </ul>
                </li>
                <!-- <li class="item astro-3EF6KSR2"><a target="_self" href="/technology/" class="astro-3EF6KSR2">Technology</a></li> -->
                <!-- <li class="item astro-3EF6KSR2"><a target="_self" href="/samples/" class="astro-3EF6KSR2">Samples</a></li> -->
                <li class="item astro-3EF6KSR2"><a target="_self" href="{% url 'plot:publication'%}" class="astro-3EF6KSR2">Publication</a></li>
                <li class="item has-submenu astro-3EF6KSR2"><a href="{% url 'plot:plot'%}" class="astro-3EF6KSR2">Plot</a>
                <li class="item astro-3EF6KSR2"><a target="_self" href="{% url 'plot:contact'%}" class="astro-3EF6KSR2">Contact</a></li>
                <!-- <li class="item button astro-3EF6KSR2"><a target="_blank" href="https://wiki.humanpangenome.org/" class="astro-3EF6KSR2">Wiki Login</a></li> -->
                <li class="compressed_menu astro-3EF6KSR2"><a href="#" class="astro-3EF6KSR2"><i class="fa-solid fa-bars astro-3EF6KSR2"></i></a></li>
                <li class="close_compressed_menu"><a href="#"><i class="fa-solid fa-xmark"></i></a></li>
            </ul>
        </nav>
      </header>

    <br class="astro-J7PV25F6">
    <br class="astro-J7PV25F6">
    <br class="astro-J7PV25F6">
    <div id="imageContainer" class="figure-container">
        <!-- <img id="displayImage" width="500" height="500" src="figure/ancient_human.jpg"> -->
        <img id="displayImage" src="{% static 'plot/images/ancient_human.jpg' %}" alt="Placeholder" class="figure" style="border-radius: 10px;">
    </div>

    <main class="astro-J7PV25F6">
    
    
    <div id="news_div" class="astro-J7PV25F6">
    <h1 class="astro-ZFUFVVIG" style="--alignment: center;">
      Arcseqhub - ancestral introgression analysis
    </h1>
    <div class="row" style="">
  
      This project is to analyzing the DNA introgression of the archaic humans and modern human to reveal the status of archaic human in the evolution of modern human.
      <br>
      <br>
      In this project, we used complete genome of Neanderthal and Denisovan from previous study as the genetics source of archaic human[1, 2]; besides, we used different reference genome to analyze introgression to reveal the influence of reference genome.
      <br>
      <br>
      We use a novel probabilistic method called IBDmix to identify introgressed hominin sequences in this project[3]
      <!-- , which is introduced in the <a href="publication.html" target="_self" class="paper">reference 3</a> -->
      , is a way doesn't need a modern reference genome to analyze archaic introgression.
      <br>
      <br>
      We hope to find interesting introgression events in different scales between archaic human and modern human, to get insights about human evolution, and promote related studies.
      <br>
      <h4>Reference:</h4>
      <ul>
        <li style="list-style-type: none; font-size: 15px;">[1]: Prüfer K, Racimo F, Patterson N, et al. The complete genome sequence of a Neanderthal from the Altai Mountains.</li>
        <li style="list-style-type: none; font-size: 15px;">[2]: Reich D, Green RE, Kircher M, et al. Genetic history of an archaic hominin group from Denisova Cave in Siberia.</li>
        <li style="list-style-type: none; font-size: 15px;">[3]: Chen L, Wolf AB, Fu W, Li L, Akey JM. Identifying and Interpreting Apparent Neanderthal Ancestry in African Individuals.</li>
      </ul>
  
    </div>
    <!-- <center><img src="716.jpg"/></center> -->
    <!-- <center><p>A project to study on the introgression segment of ancestral human in modern people.</p></center> -->

    <!-- <h1 class="astro-ZFUFVVIG" style="--alignment: center;"> -->
      <!-- What is DNA introgression -->
    <!-- </h1> -->
    <!-- <div class="row astro-IS6OBJQW" style=""> -->
      <!-- <div class="col astro-FYZFHYPQ"> -->
        <!-- <div style="position: relative; width:100%; height:300px" class="astro-FYZFHYPQ"> -->
      
          <!-- Introgression, also known as introgressive hybridization, in genetics is the transfer of genetic material from one species into the gene pool of another by the repeated backcrossing of an interspecific hybrid with one of its parent species. <br class="astro-J7PV25F6"><br class="astro-J7PV25F6"> Introgression is a long-term process, even when artificial; it may take many hybrid generations before significant backcrossing occurs. This process is distinct from most forms of gene flow in that it occurs between two populations of different species, rather than two populations of the same species. -->
          <!-- to use a pangenome so diverse populations are better represented. -->
        <!-- </div> -->
      <!-- </div> -->
      <!-- <div class="col astro-FYZFHYPQ"> -->
        <!-- <div style="position: relative; left: 100px; width:100%; height:300px" class="astro-FYZFHYPQ"> -->
              <!-- <iframe style="position: absolute;top:0;left:0;width:100%;height:100%" frameborder="0" margin-left:auto margin-right:auto allow="autoplay; fullscreen" src="https://player.vimeo.com/video/473532397?color&autopause=0&loop=0&muted=0&title=1&portrait=1&byline=1#t=" allowfullscreen="" class="astro-J7PV25F6"></iframe> -->
              <!-- <img src="figure/introgression.png" alt="Placeholder" style="position: absolute;max-width: 100%; max-height: 100%;" class="astro-J7PV25F6"> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
    </div>
    <div id="news_div" class="astro-J7PV25F6">
    <h1 class="astro-ZFUFVVIG" style="--alignment: center;">
      Archaic introgression is the key to reveal human evolution
    </h1>
    <div class="row" style="">
  
      Previous studies have revealed that admixture of ancient DNA shaped patterns of human genomic variation; especially we discovered multiple admixtures events with archaic hominins throughout human history; thus, this project is to reveal archaic introgression further, and provides materials for downstream study and also possible insights on human evolution.
  
    </div>
    <div class="row astro-IS6OBJQW" style="">

      <div class="col astro-FYZFHYPQ">
        <div style="position: relative; left: 0px; width:100%; height:0px" class="astro-FYZFHYPQ">
              <!-- <img src="figure/data_2.png" alt="Placeholder" style="position: absolute;max-width: 150%; max-height: 150%;" class="astro-J7PV25F6"> -->
        </div>
      </div>
      <div class="col astro-FYZFHYPQ">
        <div style="position: relative; width:100%; " class="astro-FYZFHYPQ">
      
          <!-- In this project, we used complete genome of Deanderthal and Denisovan as the genetics source of archaic human, which are introduced in paper 1 and paper 2, respectively. -->
        </div>
      </div>
      
    </div>

    </div>
    <div id="news_div" class="astro-J7PV25F6">
    <h1 class="astro-ZFUFVVIG" style="--alignment: center;">
      What we are doing
    </h1>
    <div class="row" style="">
  
      Here, we applied a novel method-IBDmix to identify archaic introgression without modern reference genome, with the complete genome from Denisovan and Altai Neanderthal.
      <br>
      <br>
      We also build this website-arcseqhub, with locally developed tool, to display archaic introgression events from different scale.
      <br>
      <br>
      Also, data is freely to download for downstream analysis.
  
    </div>
    <div class="row astro-IS6OBJQW" style="">
      <div class="col astro-FYZFHYPQ">
        <div style="position: relative; width:100%; " class="astro-FYZFHYPQ">
      
          <!-- We use a novel probabilistic method called IBDmix to identify introgressed hominin sequences in this project, which is introduced in the paper 3, is a way doesn't need a modern reference genome to analyze archaic introgression. -->
        </div>
      </div>
      <div class="col astro-FYZFHYPQ">
        <div style="position: relative; left: 0px; width:100%; height:0px" class="astro-FYZFHYPQ">
              <!-- <img src="figure/IBDmix.png" alt="Placeholder" style="position: absolute;max-width: 100%; max-height: 100%;" class="astro-J7PV25F6"> -->
        </div>
      </div>
    </div>

    </div> 
    <div id="news_div" class="astro-J7PV25F6">
    <h1 class="astro-ZFUFVVIG" style="--alignment: center;">
      Progress
    </h1>
    <div class="row" style="">
  
      For the first step, we aims to reveal archaic introgression based on complete genome of Denisovan and Altai Neanderthal, along with three modern human genome-hg19, hg38 and chm13
      <br>
      <br>
      For the second step, ?
      <br>
      <br>
      For the third step. ?
  
    </div>
    <div class="row astro-IS6OBJQW" style="">
      <div class="col astro-FYZFHYPQ">
        <div style="position: relative; left: 0px; width:100%; height:0px" class="astro-FYZFHYPQ">
              <!-- <img src="figure/data_2.png" alt="Placeholder" style="position: absolute;max-width: 150%; max-height: 150%;" class="astro-J7PV25F6"> -->
        </div>
      </div>
      <div class="col astro-FYZFHYPQ">
        <div style="position: relative; width:100%; " class="astro-FYZFHYPQ">
      
          <!-- In this project, we used complete genome of Deanderthal and Denisovan as the genetics source of archaic human, which are introduced in paper 1 and paper 2, respectively. -->
        </div>
      </div>
    </div>

    <!-- <h1 class="astro-ZFUFVVIG" style="--alignment: center;"> -->
      <!-- Why we need to study on introgression -->
    <!-- </h1> -->
    <!-- <div class="row astro-IS6OBJQW" style=""> -->
      <!-- <div class="col astro-FYZFHYPQ"> -->
        <!-- <div style="position: relative; width:300px; height:300px; right: 50px; " class="astro-FYZFHYPQ"> -->
              <!-- <iframe style="position: absolute;top:0;left:0;width:100%;height:100%" frameborder="0" margin-left:auto margin-right:auto allow="autoplay; fullscreen" src="https://player.vimeo.com/video/473532397?color&autopause=0&loop=0&muted=0&title=1&portrait=1&byline=1#t=" allowfullscreen="" class="astro-J7PV25F6"></iframe> -->
              <!-- <img src="figure/IBDmix.png" alt="Placeholder" style="position: absolute; max-width: 100%; max-height: 100%;" class="astro-J7PV25F6"> -->
        <!-- </div> -->
      <!-- </div> -->

      <!-- <div class="col astro-FYZFHYPQ"> -->
        <!-- <div style="position: relative; width:100%; height:300px" class="astro-FYZFHYPQ"> -->
      
          <!-- Introgression is an important source of genetic variation in natural populations and may contribute to adaptation and even adaptive radiation. It can occur across hybrid zones due to chance, selection or hybrid zone movement. There is evidence that introgression is a ubiquitous phenomenon in plants and animals, including humans, in which it may have introduced the microcephalin D allele.<br class="astro-J7PV25F6"><br class="astro-J7PV25F6"> -->

          <!-- It has been proposed that, historically, introgression with wild animals is a large contributor to the wide range of diversity found in domestic animals, rather than multiple independent domestication events. -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->

  </div>

  </main>

  <footer class="astro-SZ7XMLTE">
    <div class="footer astro-SZ7XMLTE">
      <div style="color: #939EA4;font-weight: lighter;font-size: x-small; margin-top:15px; margin-left:10%" class="astro-SZ7XMLTE">
          ©2022 Human Pangenome Reference Consortium
      </div>
      <div id="hprc" style="text-align: center; font-weight:bold; color: #37447E; margin-bottom: 10px; line-height: 45px;" class="astro-SZ7XMLTE">
          HPRC
      </div>
      <div id="division" class="astro-SZ7XMLTE">
      </div>
      <div class="footer-left astro-SZ7XMLTE">
          <!-- <a target="_self" href="/" class="astro-SZ7XMLTE">Home</a> -->
          <a target="_self" href="{% url 'plot:index'%}" class="astro-SZ7XMLTE">About</a>
          <a target="_self" href="{% url 'plot:contact'%}" class="astro-SZ7XMLTE">Contact</a>
      </div>
      <!-- <div class="footer-right astro-SZ7XMLTE">
          <a target="_blank" href="https://twitter.com/HumanPangenome" class="astro-SZ7XMLTE"><i class="fab fa-twitter astro-SZ7XMLTE" style="font-size:25px;color:#B0B8BC;"></i></a>
      </div> -->
    </div>
  </footer>
  </body>
  
  
  <script src="test.js"></script>
</html>



