<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="plot/publication.css">
    <link rel="stylesheet" href="plot/styles.css">
    <link rel="icon" href="plot/images/fudan.png" />
    <script src="figure.js"></script>
    <title>Arcseqhub - Paper</title>
  </head>

  <body style="overflow: scroll;">
    <header class="astro-3EF6KSR2">
        <nav class="astro-3EF6KSR2">
            <ul class="menu astro-3EF6KSR2">
                <li class="logo astro-3EF6KSR2"><a href="{% url 'plot:index'%}" target="_self" style="padding:0" class="astro-3EF6KSR2"><img src="plot/images/fudan.png" alt="Logo" style="height: 60px; width: auto; float:left" class="astro-3EF6KSR2"></a></li>
                <li class="item has-submenu astro-3EF6KSR2"><a href="{% url 'plot:index'%}" class="astro-3EF6KSR2">About</a>
                <li class="item has-submenu astro-3EF6KSR2" id="about"><a target="_self" href="{% url 'plot:lab'%}" class="astro-3EF6KSR2">Team</a>
                    <!-- <ul class="submenu astro-3EF6KSR2"> -->
                        <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="lab.html" class="astro-3EF6KSR2">Lab</a></li> -->
                        <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="/overview/" class="astro-3EF6KSR2">Funding</a></li> -->
                        <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="/advisory/" class="astro-3EF6KSR2">Advisory</a></li> -->
                        <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="team_.html" class="astro-3EF6KSR2">Team</a></li> -->
                        <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="/ga4gh/" class="astro-3EF6KSR2">GA4GH</a></li> -->
                    <!-- </ul> -->
                </li>
                <!-- <li class="item astro-3EF6KSR2"><a target="_self" href="/news/" class="astro-3EF6KSR2">News</a></li> -->
                <!-- <li class="item has-submenu astro-3EF6KSR2" id="about"><a target="_self" href="#" class="astro-3EF6KSR2">About</a> -->
                <li class="item has-submenu astro-3EF6KSR2"><a href="#" class="astro-3EF6KSR2">Data</a>
                  <ul class="submenu astro-3EF6KSR2">
                        <li class="subitem astro-3EF6KSR2"><a target="_self" href="#" class="astro-3EF6KSR2">Github</a></li>
                        <li class="subitem astro-3EF6KSR2"><a target="_self" href="https://hgdownload.soe.ucsc.edu/downloads.html" class="astro-3EF6KSR2">UCSC</a></li>
                        <li class="subitem astro-3EF6KSR2"><a target="_self" href="https://www.internationalgenome.org/data" class="astro-3EF6KSR2">1K Genome</a></li>
                    </ul>
                </li>
                <!-- <li class="item astro-3EF6KSR2"><a target="_self" href="/technology/" class="astro-3EF6KSR2">Technology</a></li> -->
                <!-- <li class="item astro-3EF6KSR2"><a target="_self" href="/samples/" class="astro-3EF6KSR2">Samples</a></li> -->
                <li class="item astro-3EF6KSR2"><a target="_self" href="{% url 'plot:publication'%}" class="astro-3EF6KSR2">Publication</a></li>
                <li class="item has-submenu astro-3EF6KSR2"><a href="{% url 'plot:plot'%}" class="astro-3EF6KSR2">Query</a>
                <li class="item astro-3EF6KSR2"><a target="_self" href="{% url 'plot:contact'%}" class="astro-3EF6KSR2">Contact</a></li>
                <!-- <li class="item button astro-3EF6KSR2"><a target="_blank" href="https://wiki.humanpangenome.org/" class="astro-3EF6KSR2">Wiki Login</a></li> -->
                <li class="compressed_menu astro-3EF6KSR2"><a href="#" class="astro-3EF6KSR2"><i class="fa-solid fa-bars astro-3EF6KSR2"></i></a></li>
                <li class="close_compressed_menu"><a href="#"><i class="fa-solid fa-xmark"></i></a></li>
            </ul>
        </nav>
        </header>





        <main class="astro-J7PV25F6">
            <br>
            <br>
            <br>
            <br>
            </div>
                <!-- <h1 style="">Citation</h1> -->
                <div id="title_div" style="height:50px; font-size: large; font-weight: bold; display:flex;flex-direction:row; align-items: center;" class="astro-VBOIFACB">
                    <div style="color: #e63f19; width:33%;" class="astro-VBOIFACB">TITLE</div>
                    <div style="color: #e63f19; width:25%" class="astro-VBOIFACB">AUTHORS</div>
                    <div style="color: #e63f19; width:14%;" class="astro-VBOIFACB">DATE</div>
                    <div style="color: #e63f19; width:23%" class="astro-VBOIFACB">DOI</div>
                </div>
                <!-- {publication['publications'].map((data) =><PublicationCard authors={data['authors']} title={data['title']} doi={data['doi']} date={data['date']}/>)} -->
                <!-- {publication['publications'].map((data,index) =><PublicationCard authors={data['authors']} title={data['title']} doi={data['doi']} date={data['date']} link={data['link']} isOdd={index%2}/>)} -->
                <div class="card even astro-B2AN4VTO">
                <!-- <div class="title astro-B2AN4VTO">R1: The complete genome sequence of a Neanderthal from the Altai Mountains</div> -->
                <!-- <div class="authors astro-B2AN4VTO">Pru¨fer et al.</div> -->
                <!-- <div class="date astro-B2AN4VTO">2014</div> -->
                <!-- <div class="doi astro-B2AN4VTO"><a target="_blank" href="https://www.nature.com/articles/s41586-023-05896-x" class="astro-B2AN4VTO">doi:10.1038/nature12886</a></div> -->
            </div>


        </main>