{% load static %}
<header class="astro-3EF6KSR2">
    <nav class="astro-3EF6KSR2">
        <ul class="menu astro-3EF6KSR2">
            <li class="logo astro-3EF6KSR2"><a href="{% url 'plot:index'%}" target="_self" style="padding:0" class="astro-3EF6KSR2"><img src="{% static 'plot/images/FDU.png' %}" alt="Logo" style="height: 60px; width: auto; float:left" class="astro-3EF6KSR2"></a></li>
            <li class="item has-submenu astro-3EF6KSR2"><a href="{% url 'plot:index'%}" class="astro-3EF6KSR2">About</a>
            <li class="item has-submenu astro-3EF6KSR2" id="about"><a target="_self" href="{% url 'plot:lab'%}" class="astro-3EF6KSR2">Team</a>
                <!-- <ul class="submenu astro-3EF6KSR2"> -->
                    <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="lab.html" class="astro-3EF6KSR2">Lab</a></li> -->
                    <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="/overview/" class="astro-3EF6KSR2">Funding</a></li> -->
                    <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="/advisory/" class="astro-3EF6KSR2">Advisory</a></li> -->
                    <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="team_.html" class="astro-3EF6KSR2">Team</a></li> -->
                    <!-- <li class="subitem astro-3EF6KSR2"><a target="_self" href="/ga4gh/" class="astro-3EF6KSR2">GA4GH</a></li> -->
                <!-- </ul> -->
            </li>
            <!-- <li class="item astro-3EF6KSR2"><a target="_self" href="/news/" class="astro-3EF6KSR2">News</a></li> -->
            <!-- <li class="item has-submenu astro-3EF6KSR2" id="about"><a target="_self" href="#" class="astro-3EF6KSR2">About</a> -->
            <li class="item has-submenu astro-3EF6KSR2"><a href="#" class="astro-3EF6KSR2">Data</a>
              <ul class="submenu astro-3EF6KSR2">
                    <li class="subitem astro-3EF6KSR2"><a target="_self" href="#" class="astro-3EF6KSR2">Github</a></li>
                    <li class="subitem astro-3EF6KSR2"><a target="_self" href="https://hgdownload.soe.ucsc.edu/downloads.html" class="astro-3EF6KSR2">UCSC</a></li>
                    <li class="subitem astro-3EF6KSR2"><a target="_self" href="https://www.internationalgenome.org/data" class="astro-3EF6KSR2">1000 Genome Project</a></li>
                </ul>
            </li>
            <!-- <li class="item astro-3EF6KSR2"><a target="_self" href="/technology/" class="astro-3EF6KSR2">Technology</a></li> -->
            <!-- <li class="item astro-3EF6KSR2"><a target="_self" href="/samples/" class="astro-3EF6KSR2">Samples</a></li> -->
            <li class="item astro-3EF6KSR2"><a target="_self" href="{% url 'plot:publication'%}" class="astro-3EF6KSR2">Publication</a></li>
            <li class="item has-submenu astro-3EF6KSR2"><a href="{% url 'plot:plot'%}" class="astro-3EF6KSR2">Query</a>
            <li class="item astro-3EF6KSR2"><a target="_self" href="{% url 'plot:contact'%}" class="astro-3EF6KSR2">Contact</a></li>
            <!-- <li class="item button astro-3EF6KSR2"><a target="_blank" href="https://wiki.humanpangenome.org/" class="astro-3EF6KSR2">Wiki Login</a></li> -->
            <li class="compressed_menu astro-3EF6KSR2"><a href="#" class="astro-3EF6KSR2"><i class="fa-solid fa-bars astro-3EF6KSR2"></i></a></li>
            <li class="close_compressed_menu"><a href="#"><i class="fa-solid fa-xmark"></i></a></li>
        </ul>
    </nav>
    </header>