html {
    position: relative;
    min-height: 100%;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    margin: 40px 0 200px;
}

div {
/*    display: flex;*/
}

/*:where(.astro-3EF6KSR2) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 3;
    font-family: sans-serif
}

nav:where(.astro-3EF6KSR2) {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    line-height: 30px;
    width: 100%;
    text-align: center;
    box-sizing: border-box
}

.menu:where(.astro-3EF6KSR2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

.menu:where(.astro-3EF6KSR2) li:where(.astro-3EF6KSR2) a:where(.astro-3EF6KSR2) {
    display: block;
    padding: 15px 5px
}

.menu:where(.astro-3EF6KSR2) li:where(.astro-3EF6KSR2) a:where(.astro-3EF6KSR2):hover {
    color: #000;
    text-decoration: underline
}

.item:where(.astro-3EF6KSR2):hover {
    background-color: #cdcdcd
}

.menu:where(.astro-3EF6KSR2) li:where(.astro-3EF6KSR2).subitem a:where(.astro-3EF6KSR2) {
    padding: 15px
}

.menu:where(.astro-3EF6KSR2) li:where(.astro-3EF6KSR2).subitem a:where(.astro-3EF6KSR2):hover {
    background-color: #ddd;
    color: #000
}

.compressed_menu:where(.astro-3EF6KSR2) a:where(.astro-3EF6KSR2) {
    font-size: 18px;
    color: #fff;
    text-decoration: none
}

ul:where(.astro-3EF6KSR2) {
    margin: 0%
}

.menu:where(.astro-3EF6KSR2),.submenu:where(.astro-3EF6KSR2) {
    list-style-type: none
}

a:where(.astro-3EF6KSR2) {
    color: #fff;
    text-decoration: none
}

.item:where(.astro-3EF6KSR2) {
    text-align: center;
    order: 3;
    width: 100%;
    display: none
}

.active:where(.astro-3EF6KSR2) .item:where(.astro-3EF6KSR2) {
    display: block
}

.active:where(.astro-3EF6KSR2) .compressed_menu:where(.astro-3EF6KSR2) {
    display: none
}

.compressed_menu:where(.astro-3EF6KSR2) {
    order: 1;
    float: right
}

.submenu:where(.astro-3EF6KSR2) {
    display: none
}

.subitem:where(.astro-3EF6KSR2) a:where(.astro-3EF6KSR2) {
    color: #fff;
    text-decoration: none;
    padding: 14px 16px 16px;
    text-align: center
}

@media (max-width: 960px) {
    .submenu-active:where(.astro-3EF6KSR2) .submenu:where(.astro-3EF6KSR2) {
        display:block
    }

    .submenu-active:where(.astro-3EF6KSR2) .subitem:where(.astro-3EF6KSR2) {
        background-color: #3b3939
    }
}

@media (min-width: 960px) {
    .menu:where(.astro-3EF6KSR2) {
        align-items:flex-start;
        flex-wrap: nowrap;
        justify-content: center;
        background: none
    }

    .logo:where(.astro-3EF6KSR2) {
        order: 0;
        flex: 1
    }

    .item:where(.astro-3EF6KSR2) {
        display: block;
        order: 1;
        width: auto;
        position: relative;
        padding-left: 15px;
        padding-right: 15px
    }

    .compressed_menu:where(.astro-3EF6KSR2) {
        display: none
    }

    .has-submenu:where(.astro-3EF6KSR2):hover .submenu:where(.astro-3EF6KSR2) {
        display: block;
        position: absolute;
        top: 60px;
        min-width: 180px;
        left: 0;
        background-color: #ccc
    }

    .has-submenu:where(.astro-3EF6KSR2) {
        border-radius: 0
    }
}*/



main:where(.astro-J7PV25F6) {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div:where(.astro-J7PV25F6) {
    display: flex;
    width: 100px;
    margin: 50px auto;
/*    grid-template-columns: auto 20px auto;*/
}

/*div:where(.row){
    margin: 0px 100px;
}*/

.intext-logo:where(.astro-J7PV25F6) {
    flex: 1;
}

.text-gradient:where(.astro-J7PV25F6) {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%
}

#news_div:where(.astro-J7PV25F6) {
    width: 100%;
/*    background-color: #f0f8ff;*/
/*    background-color: #818599;*/
    background-color: #bac1cc;
    font-size: large;
    border-radius: 10px;
    padding: 2vw;
    box-sizing: border-box;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    z-index: -2;
    box-shadow: 5px 5px 3px #d3d3d3;
}

#news_div:where(.astro-J7PV25F6) a:where(.astro-J7PV25F6) {
    color: black;
    text-decoration: none
}

#news_div:where(.astro-J7PV25F6) a:where(.astro-J7PV25F6):hover {
    color: #000;
    text-decoration: underline
}

@media (max-width: 660px) {
    main:where(.astro-J7PV25F6) {
        width:80%;
        margin-left: auto;
        margin-right: auto
    }

    #news_div:where(.astro-J7PV25F6) {
        font-size: medium;
        font-weight: 700
    }
}

a:where(.paper){
    color: blue;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    display: inline;
    /* Optional: Add hover effect to underline on hover */
}

/* Optional: Add hover effect to underline the link on hover */
a:hover:where(.paper){
    display: inline;
    text-decoration: underline;
}


h1:where(.astro-ZFUFVVIG) {
    text-align: var(--alignment)
}

@media (max-width: 960px) {
    h1:where(.astro-ZFUFVVIG) {
        width:100%;
        font-size: 25px
    }
}



.row:where(.astro-IS6OBJQW) {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: var(--backgroundColor);
    padding: 15px;
    font-size: large;
    box-sizing: border-box
}

.border:where(.astro-IS6OBJQW) {
    border-radius: 10px
}

.clickable:where(.astro-IS6OBJQW):hover {
    background-color: #f0f8ff
}

@media (max-width: 960px) {
    .row:where(.astro-IS6OBJQW) {
        width:100%;
        flex-direction: column;
        margin-bottom: 0;
        font-size: medium
    }
}


.col:where(.astro-FYZFHYPQ) {
    width: 50%;
    padding-left: 1.25%;
    padding-right: 1.25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

@media (max-width: 960px) {
    .col:where(.astro-FYZFHYPQ) {
        width:100%;
        margin-bottom: 20px
    }
}

.col:where(.people) {
    width: 50%;
    padding-left: 1.25%;
    padding-right: 1.25%;
    display: flex;
/*    flex-direction: column;*/
    justify-content: center;
    align-items: center
}

.people-figure {
  flex: 0 0 auto; /* Adjust the size of the figure as needed */
  margin-right: 10px; /* Adjust the spacing between figure and text as needed */
}

.people-text {
  flex: 1 1 auto; /* The text will occupy the remaining space in the block */
/*  display: flex;*/
/*  align-items: center;*/
}



.figure-container {
/*  position: relative;*/
  top: 30px;
  width: 70vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
/*  flex-wrap: wrap;*/
}

.figure {
  width: 100%;
  height: 100%;
/*  margin: 10px;*/
  opacity: 1;
  transition: opacity 1s ease-in-out;
}



/*###flow chart*/
:where(.astro-WDLIOSD7) {
    box-sizing: border-box
}

.largest-container:where(.astro-WDLIOSD7) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
/*    padding-left: 80px;*/
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
}

.circle:where(.astro-WDLIOSD7):before,.circle2:where(.astro-WDLIOSD7):before,.circle3:where(.astro-WDLIOSD7):before,.circle4:where(.astro-WDLIOSD7):before {
    content: attr(title);
    position: absolute;
    transform: translateY(-200%);
    font-size: medium;
    width: auto;
    z-index: -1
}

.container:where(.astro-WDLIOSD7) {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.progress-container:where(.astro-WDLIOSD7),.progress-container2:where(.astro-WDLIOSD7),.progress-container3:where(.astro-WDLIOSD7),.progress-container4:where(.astro-WDLIOSD7) {
    display: inherit;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px
    background-color: #ffff;
}

.progress-container:where(.astro-WDLIOSD7):before,.progress-container2:where(.astro-WDLIOSD7):before,.progress-container3:where(.astro-WDLIOSD7):before,.progress-container4:where(.astro-WDLIOSD7):before {
    display: inherit;
    content: "";
/*    background-color: var(--line-border-empty);*/
    background-color: #ffff;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

.progress:where(.astro-WDLIOSD7),.progress2:where(.astro-WDLIOSD7),.progress3:where(.astro-WDLIOSD7),.progress4:where(.astro-WDLIOSD7) {
/*    background-color: var(--line-border-fill);*/
    background-color: #ffff;
    color: #2EDD71;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: 0;
    transition: .75s ease;
/*    width: 100px;*/
/*    margin-left: 300px;*/
}

.progress2:where(.astro-WDLIOSD7) {
/*    background-color: var(--line-border-fill2)*/
}

.progress3:where(.astro-WDLIOSD7) {
/*    background-color: var(--line-border-fill3)*/
}

img:where(.circleimage) {
    display: inline-block;
    height: 5vw;
    width: auto;
    float:unset;
}

p:where(.circle-text) {
    position: absolute;
    margin-left: 42.5vw;
    margin-bottom: 2vw;
    width: 5vw;
    font-size: 0.7vw;
}

p:where(.circle-text2) {
    position: absolute;
    margin-left: 72.5vw;
    margin-bottom: 2vw;
    width: 5vw;
    font-size: 0.7vw;
}

.circle:where(.astro-WDLIOSD7),.circle2:where(.astro-WDLIOSD7),.circle3:where(.astro-WDLIOSD7) {
    font-size: 14px;
    background-color: #fff;
/*    height: 100px;*/
    height: 6vw;
/*    width: 150px;*/
    width: 8.5vw;
    border-bottom-right-radius: 10%;
    border: 1px solid lightgray;
/*    border-radius: 50%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border .5s;
    z-index: 2;
}

.circle4:where(.astro-WDLIOSD7) {
    font-size: 14px;
    background-color: #fff;
    height: 3vw;
    width: 14vw;
/*    border-bottom-right-radius: 30%;*/
/*    border: 1px solid lightgray;*/
/*    border-radius: 50%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .5s;
    z-index: 2;
}

.circle:where(.astro-WDLIOSD7).active,.circle2:where(.astro-WDLIOSD7).active,.circle3:where(.astro-WDLIOSD7).active,.circle4:where(.astro-WDLIOSD7).active {
    border-color: var(--line-border-fill);
/*    background-color: var(--line-border-fill);*/
    background-color: #798BBD;
    border-width: 3px;
    transform: scale(1.2);
    transition: all .75s;
    box-shadow: 5px 5px 3px #d3d3d3
}
.circle4:where(.astro-WDLIOSD7).active {
    background-color: #6699AA;
    box-shadow: none;
}




.stamp:where(.astro-WDLIOSD7) {
    border-radius: 27.5px;
    width: 6vw;
    font-weight: 700
}

.stamp:where(.circle4){
    border-radius: 0px;
    width: 13vw;
    font-weight: 700
}

@media (max-width: 660px) {
    .circle:where(.astro-WDLIOSD7),.circle2:where(.astro-WDLIOSD7),.circle3:where(.astro-WDLIOSD7) {
        height:40px;
        width: 40px
    }
}

@media (max-width: 600px) {
    .circle:where(.astro-WDLIOSD7):before,.circle2:where(.astro-WDLIOSD7):before,.circle3:where(.astro-WDLIOSD7):before {
        font-size:11px
    }

    .circle:where(.astro-WDLIOSD7),.circle2:where(.astro-WDLIOSD7),.circle3:where(.astro-WDLIOSD7) {
        font-size: 11px
    }
}