/*.tab-button {
  display: none;
}*/


div:where(.next) {
  display: none;
}

.tab-button {
  background-color: #f2f2f2;
  border: none;
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: #ccc;
}


/*align selector bar horizontally*/
div:where(.selector-bar) {
  display: flex;
}

input:where(.selector-bar) {
  flex: 1;
}



/* 弹出容器 - 可以是任何你想要的 */
.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 实际弹出 */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .show {
  visibility: visible;
  animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  15% {opacity:1 ;}
  50% {opacity:1 ;}
  85% {opacity:1 ;}
  100% {opacity:0 ;}
}
