.card:where(.astro-B2AN4VTO) {
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box
}

.card:where(.astro-B2AN4VTO) div:where(.astro-B2AN4VTO) {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-right: 15px
}

.odd:where(.astro-B2AN4VTO) {
    background-color: #e7ecff40;
    box-shadow: 6px 6px 4px #d3d3d3bf
}

.even:where(.astro-B2AN4VTO) {
    background-color: #e7ecffbf;
    box-shadow: 6px 6px 4px #d3d3d3bf
}

.odd:where(.astro-B2AN4VTO):hover {
    background-color: #e7ecff99
}

.even:where(.astro-B2AN4VTO):hover {
    background-color: #e7ecfff2
}

.title:where(.astro-B2AN4VTO) {
    width: 33%;
    color: gray
}

.authors:where(.astro-B2AN4VTO) {
    width: 25%;
    color: gray
}

.doi:where(.astro-B2AN4VTO) {
    width: 23%;
    overflow-wrap: anywhere
}

.doi:where(.astro-B2AN4VTO) a:where(.astro-B2AN4VTO) {
    text-decoration: none;
    color: #e63f19
}

.doi:where(.astro-B2AN4VTO) a:where(.astro-B2AN4VTO):hover {
    text-decoration: underline
}

.date:where(.astro-B2AN4VTO) {
    width: 14%;
    color: gray
}

@media (max-width: 1250px) and (min-width:960px) {
    .card:where(.astro-B2AN4VTO) {
        min-height:140px
    }
}

@media (max-width: 960px) and (min-width:660px) {
    .card:where(.astro-B2AN4VTO) {
        min-height:180px
    }
}

@media (max-width: 660px) {
    .card:where(.astro-B2AN4VTO) {
        flex-direction:column
    }

    .card:where(.astro-B2AN4VTO) div:where(.astro-B2AN4VTO) {
        width: 100%;
        margin-top: 10px;
        padding-right: 0
    }

    .title:where(.astro-B2AN4VTO) {
        font-weight: 700
    }
}

main:where(.astro-VBOIFACB) {
    width: 80%;
    margin-left: auto;
    margin-right: auto
}

#publication_protocol:where(.astro-VBOIFACB) {
    width: 220px;
    height: 35px;
    background-color: #e63f1993;
    margin: auto;
    text-align: center;
    border-radius: 5px
}

.pub_links:where(.astro-VBOIFACB) {
    text-decoration: none;
    color: #e63f19;
    font-weight: 700
}

.pub_links:where(.astro-VBOIFACB):hover {
    text-decoration: underline
}

#protocol:where(.astro-VBOIFACB) {
    text-decoration: none;
    color: #e63f19;
    font-weight: 700
}

#protocol:where(.astro-VBOIFACB):hover {
    text-decoration: underline
}

#protocol_container:where(.astro-VBOIFACB) {
    width: 85%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6cfc6bf;
    padding: 10px 20px
}

#protocol_container:where(.astro-VBOIFACB) p:where(.astro-VBOIFACB) {
    font-size: large
}

#title_div:where(.astro-VBOIFACB) {
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 15px
}

#scroll_top_button:where(.astro-VBOIFACB) {
    height: 100%;
    width: 40px;
    float: right;
    background-color: #e63f1993;
    margin-right: 3%;
    border-radius: 20px;
    text-align: center
}

.hovertext:where(.astro-VBOIFACB) {
    position: relative
}

.hovertext:where(.astro-VBOIFACB):hover {
    cursor: pointer
}

@media (max-width: 660px) {
    #title_div:where(.astro-VBOIFACB) :where(.astro-VBOIFACB) {
        display:none
    }

    #title_div:where(.astro-VBOIFACB) {
        margin-top: 0
    }

    #protocol_container:where(.astro-VBOIFACB) p:where(.astro-VBOIFACB) {
        font-size: 15px
    }
}
