<footer class="astro-SZ7XMLTE">
  <div class="footer astro-SZ7XMLTE">
    <div style="color: #ffffff;font-weight: lighter;font-size: x-small; margin-top:15px; margin-left:10%" class="astro-SZ7XMLTE">
        ©2023 FUDAN University
    </div>
    <div id="hprc" style="text-align: center; font-weight:bold; color: #ffffff; margin-bottom: 10px; line-height: 45px;" class="astro-SZ7XMLTE">
        Arcseqhub
    </div>
    <div id="division" class="astro-SZ7XMLTE">
    </div>
    <div class="footer-left astro-SZ7XMLTE">
        <!-- <a target="_self" href="/" class="astro-SZ7XMLTE">Home</a> -->
        <a target="_self" href="{% url 'plot:index'%}" class="astro-SZ7XMLTE">About</a>
        <a target="_self" href="{% url 'plot:contact'%}" class="astro-SZ7XMLTE">Contact</a>
    </div>
    <!-- <div class="footer-right astro-SZ7XMLTE">
        <a target="_blank" href="https://twitter.com/HumanPangenome" class="astro-SZ7XMLTE"><i class="fab fa-twitter astro-SZ7XMLTE" style="font-size:25px;color:#B0B8BC;"></i></a>
    </div> -->
  </div>
</footer>